:root {
  --dark: #1f1f1f;
  --light: #f2f2f2;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
}

body {
  background: var(--dark);
  color: var(--light);
}
