.container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.image {
  border: 1.5px solid #bbbbbb !important;
}

.choices {
  display: flex;
  justify-content: center;
}

.choiceBtn {
  margin: 0.5rem 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;

  cursor: pointer;
  background: #dddddd;
  border: 2px solid transparent;

  font-size: 1rem;
  font-weight: 500;

  &.disabled {
    cursor: not-allowed;
  }

  &.correct {
    background: #009543;
  }

  &.incorrect {
    background: #ae1c28;
  }
}

.nextFlagBtn {
  @extend .choiceBtn;

  align-self: center;
  width: 8rem;

  &:hover {
    background: #bbbbbb;
  }
}
